.icon_message{
	font-size: x-large;
}
.input_send{
	height: 30px;
    border: solid .5px #eaeaea;
    border-radius: 10px;
}
.text_send{
	--padding-start: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    margin-top: -20px;
    border-bottom: none !important;
}